*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aquamarine;
}
html,body{
    height:100%;
    width:100%;

}
.main{
    height: 100%;
    width:100%;
    background-color: rgb(6, 3, 3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: rgb(221, 212, 212);
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    /* transform: translate(-50%,-50%) scale(1); */
    /* color: antiquewhite; */
}
h1{
    font-size: 9vw;
    font-weight:900;
    color: antiquewhite;
} 